.input {
    border-radius: 50px;
}

.wrapper {
    background-color: grey;
    width: 350px;
    height: 30px;
    border-radius: 20px;
    margin: auto;
}

.formBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}