*{
    padding: 0;
    margin: auto;
    width: 1200px;
    height: fit-content;
}
    .container {
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
        .header {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .header1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .header1 img {
                width: 30px;
                height: 30px;
            }
            .header1 span {
                color: blue;
            }
            .header1 h2 {
                width: 80%;
                color: white;
                background-color: blue;
            }
        .body {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
        }

            .side-bar {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                /* flex: 1; */
                width: 30%;
            }
                .side-bar-top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 200px;
                    /* flex: 1; */
                    background-color: rgb(208, 208, 209);
                }
                .side-bar-top-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .side-bar-top-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .side-bar-top button {
                    width: 200px;
                    height: 40px;
                    margin: 2px;
                }
            .side-bar-lower {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                height: 400px;
                /* flex: 2; */
                box-shadow: 1px 1px 1px 1px black;
                background-color: rgb(255, 255, 255);
                background-image: url("ad_background.png")
                
            }
                .side-bar-lower img {
                    width: 100px;
                    height: 150px;
                }
                .side-bar-lower button {
                    width: 200px;
                    height: 50px;
                }
                .side-bar-lower h2 {
                    text-align: center;
                    color: aliceblue;
                }
            main {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                /* flex: 2; */
                width: 60%;
            }
            .topNav {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                margin-top: 5px;
            }
                .topNav-home-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 2;
                }
                    .topNav-home-button img {
                        width: 20px;
                        height: 20px;
                    }

                .topNav-contact {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    }
                    .topNav-contact img {
                        height: 40px;
                        width: 40px;
                        margin-left: 15px;
                    }
                    .topNav-contact-number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: end;
                        flex-direction: column;
                    }
                        .topNav-contact-number a {
                            font-size: larger;
                        }
                        .topNav-contact-number h6 {
                            font-size: xx-small;
                        }
                        
            .main1 {
                width: 90%;
            }
            .main1 ul {
                width: 80%;
            }
            .main2 {
                width: 90%;
            }
            .main2 ol {
                width: 80%;
            }
            main img {
                width: 400px;
                height: 150px;
            }
            
                
                

            /* main h2 {

            }
            main ul {

            }
            main img {
                width: 50px;
                height: 50px;
            }
        .page-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .page-bottom img {
                width: 50px;
                height: 50px;
                flex: 1;
            }
            .page-bottom-text {
                flex: 5;
            } */ */ */