.card {
    display: flex;
    width: 600px;
    border: 2px solid darkgray;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    padding: 20px;
    background-color: lightcyan;
    margin-top: 20px;
}

    .card img {
        height: 128px;
        border-radius: 50%;
        margin-right: 40px;
    }
    .flex-1 {
        flex: 1;
    }