* {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: monospace;
}
.container {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    border: 2px solid black;
    width: 1500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}
    .sheader {
        background-color: black;
        color: aliceblue;
        flex: 1;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
        .sheader h1 {
            font-size: 40px;
        }
    .mheader {
        flex: 2;
        height: 80px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .mheader a {
            font-size: 20px;
            padding-inline: 20px;
            color: aliceblue;
            text-decoration: none;
        }
    .eheader {
        flex: 1;
        height: 80px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
        #sign-out {
            font-size: x-large;
            font-weight: bold;
            color: rgb(110, 111, 112);
            background-color: aqua;
            border: solid aqua;
            border-radius: 5px;
            margin-left: 30px;
        }
.body {
    height: 500px;
    width: 1030px;
    display: flex;
    margin-right: 30px;
}
    .main-body {
        height: 500px;
        flex: 2;
        display: flex;
        flex-direction: column;
    }
        .main-body1 {
            flex: 2;
        }
            .pic-jane {
                position: absolute;
                width: 80px;
                height: 80px;
                margin-top: 70px;
                margin-left: 30px;
                border-radius: 100%;
                border: 2px solid white;
            }
            .usercard1 {
                background-color: black;
                height: 80px;
                width: 650px;
                margin-top: 30px;
            }
            .usercard2 {
                height: 200px;
                width: 616px;
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                border: 2px solid grey;
                
            }
                #jane-name {
                    margin-top: 50px;
                }
                .loc {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                    .loc h2 {
                        margin-left: 10px;
                    }
                .info {
                    font-weight: bold;
                    margin-top: 10px;
                    font-size: larger;
                }
                .edit {
                    margin-top: 20px;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-start;
                }
                .edit a { 
                    font-size: larger;
                    margin-left: 10px;
                    font-weight: bold;
                }
        .main-body2 {
            flex: 1;
        }
            .edu1 {
                background-color: black;
                width: 650px;
                height: 40px;

            }
                .edu1 h2 {
                    color: aliceblue;
                    margin-left: 30px;
                    padding-top: 8px;
                }
            .edu2 {
                width: 616px;
                height: 120px;
                padding-left: 30px;
                padding-top: 10px;
                border: 2px solid gray;
            }
                #date {
                    color: dimgrey;
                }
                #prog {
                    margin-top: 20px;
                }
    .side-nav {
        height: 500px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
        .side-nav1 {
            flex: 2;
        }
            .con1 {
                margin-top: 30px;
                background-color: black;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .con1 h1 span {
                    color: black;
                    background-color: darkgrey;
                    padding: 5px;
                    border-radius: 100%;
                    border-width: 10px;
                }
                .con1 h1 {
                    color: aliceblue;
                }
            .con2 {
                height: 110px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid grey;
                }
                    .con2-1 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    .con2-2 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;
                        height: 100px;
                        text-align: center;
                    }
                    .con2-3 {
                        flex: 1;
                        height: 110px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;
                        text-align: center;
                    }
        .side-nav2 {
            flex: 3;
        }
            .con3 {
                margin-top: 30px;
                background-color: black;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                .con3 h1 span {
                    color: black;
                    background-color: darkgrey;
                    padding: 5px;
                    border-radius: 100%;
                    border-width: 10px;
                }
                .con3 h1 {
                    color: aliceblue;
                }
            .con4 {
                height: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid grey;
                }
                    .con4-1 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    .con4-2 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;
                        height: 170px;
                        text-align: center;
                    }
                    .con4-3 {
                        flex: 1;
                        height: 170px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;
                        text-align: center;
                    }
            .con5 {
                height: 40px;
                border: 2px solid grey;
            }
                .con5 a {
                    text-decoration: none;
                    font-size: xx-large;
                    margin-left: 10px;
                }