* {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1000px;
    /* padding: 20px; */
}


.header {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}


#counter {
    font-size: 100px;
}

.timer {
    text-align: center;
    margin-top: 150px;
}

.name {
    color: blueviolet;
}