<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>
<body>
    <form action="/" method="post"></form>
        <h1>Counter</h1>
        <h2 name="clicks_counter">how many again:{{ clicks }} time(s)</h2>
        <form action="/add_two" method="post">
            <input type="button" value="Add two clicks" name="clicks2">
        </form>
        <!-- <input type="button" value="Add two clicks" name="clicks2"> -->
        <!-- <button type="submit" name="clicks_button">Add two clicks</button> -->
    </form>
    <form action="/destroy_session" method="post">
        <button type="submit" name="reset">Reset</button>
    </form>
    
</body>
</html>