<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flash-testing</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <style>
        .color1 {
            background-color: {{ color1 }};
        }
        .color2 {
            background-color: {{ color2 }};
        }
    </style>
</head>
<body>
<div>
{% for i in range(rows): %}
    <div class="columns">
    {% for j in range(columns): %}
        <div class="color{{ (i+j)%2+1 }}"></div>
    {% endfor %}
    </div>
{% endfor %}
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</body>
</html>