* {
    margin: 0;
    height: auto;
    padding: 0;
}

.container {
    width: 1500px;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid black;
    box-shadow: 50px 50px 50px 50px black;
}

.left_side {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px black;
}



.header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    box-shadow: 5px 5px 5px 5px black;
}


.upper_body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#book_displayed {
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    box-shadow: 5px 5px 5px 5px black;
    width: 40%;
}

.header_name {
    color: black;
}

.header a {
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}


.right_side {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px black;
    width: 50%;
    height: 500px;
}

.liked_books {
    overflow-y: scroll;
    height: 200px;
}

.all_books_list {
    width: 180px;
    overflow-y: scroll;
}


.book_name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-control {
    box-shadow: 5px 5px 5px 5px black;
}

.btn {
    margin-top: 10px;
}




